{% extends 'rework/base_rework.html' %}

{% block content %}
    <h1>About me</h1>

    <div class="container mt-4 p-4 bg-light rounded shadow-sm">
        {% if user.is_authenticated %}
        
        {% endif %}
        {% if about_me %}
 
            <!--Los datos del about me los puedes en contrar en el models.py, llamalos como about_me.<nombre del field> -->
            <p>Intenta añadir los datos del about me aqui</p>
        {% else %}
            {% if user.is_authenticated %}
            <small>No about me found, <a href="{% url 'create_about_me' %}">create it?</a></small>
            {% endif %}
        {% endif %}
    </div>

{% endblock%}
