{% extends 'rework/base_rework.html'%}

{% block content %}
    <h1>add post</h1>
    <hr>
    {% if user.is_authenticated %}
        <form enctype="multipart/form-data" method="POST" class="container" id="post_form">
            {% csrf_token %}
            <!-- Crear post -->
            <div class="card">
                <div class="card-header card-header-secondary">
                    <h4 class="card-title">Create Post</h4>
                </div>
                {% for field in form %}
                    <div class="form-group card-body">
                        <label> {{field.label}} </label>
                        {% if field.field.required %}
                            <span style="color: red" class="required">*</span>
                        {% endif %}
                        
                        {{field}}
        
                        {% if field.help_text %}
                            <small style="color: gray"> {{ field.help_text }} </small>
                        {% endif %}
        
                        {% for error in field.errors %}
                            <p style="color : red"> {{ error }} </p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <!-- Script importante -->
            {% with named_formsets.images as formset %}  
            {{ formset.management_form }}
            <script type="text/html" id="images-template">   // id="inlineformsetname-template"
                <tr id="images-__prefix__" class= hide_all>  // id="inlineformsetname-__prefix__"
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                
                    {% for fields in formset.empty_form.visible_fields %}
                        <td>{{fields}}</td>
                    {% endfor %}
                </tr>
            </script>
            <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h4 class="card-title">Add Images</h4>
                </div>
                <table class="table card-body">
                    <thead class="text-secondary">
                        <th>Image <span style="color: red;" class="required">*</span></th>
                    </thead>
                    <tbody id="item-images">  <!-- id="item-inlineformsetname" -->
                        <!-- formset non forms errors -->
                        {% for error in formset.non_form_errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        {% for formss in formset %}
                            {{ formss.management_form }}
                            <tr id="images-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                {{ formss.id }}
                                {% for field in formss.visible_fields %}
                                    <td>
                                        {{field}}
                                        {% for error in field.errors %}
                                            <span style="color: red">{{ error }}</span>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="#" id="add-image-button" class="btn btn-secondary add-images">Add More</a> <!-- id="add-inlineformsetname-button" -->
            </div>
            {% endwith %}
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block">Submit</button>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function() {
                // Esto funciona cuando el usuario le da añadir mas imagenes
            $('.add-images').click(function(ev) {
                ev.preventDefault();
                var count = $('#item-images').children().length;
                var tmplMarkup = $('#images-template').html();
                var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                $('#item-images').append(compiledTmpl);
        
                // Actualiza el contador de imagenes
                $('#id_images-TOTAL_FORMS').attr('value', count+1);
            });
        });
</script>
    {% else %}
        <p>You're not supposed to be here.</p>
    {% endif %}
{% endblock%}