{% extends 'rework/base_rework.html'%}

{% block content %}
    <h1> details of post {{ post.pk }} </h1>
    <small> post by: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.date_added }}</small>
    <hr>
    <p>{{ post.body }}</p>
    <br>
    {% if user.is_authenticated %}
    <small>
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    </small>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
{% endblock%}