.gallery-container{
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sorting-container{
    width: 70%;
    display: flex;
}

.sorting-form{
    width: 100%;
    display: flex;
}

.select-container{
    width: 100%;
    display: flex;
    flex: 20;
}

.select-container select{
    width: 100%;
}

.sorting-button{
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* the css for the gallery */

.gallery-list-container{
    background-color: lightseagreen;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.gallery-list{
    width: 80%;
    background-color: rgba(76, 175, 80, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.gallery-list-item{
    width: 100%;
    display: flex;
}

.gallery-list-img{
    display: flex;
    height: 100%;
    width: 100%;
}

.gallery-list-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 900px) {
    .gallery-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 720px) {
    .gallery-list{
        grid-template-columns: 1fr 1fr;
    }
}