
.search-bar-container{
    background-color: none;
    display:flex;
    align-items: center;
    justify-content: center;
}

.search-bar-form{
    width: 70%;
    display: flex;
}

.search-bar-input{
    display: flex;
    flex:10;
}

.search-bar-button{
    height: 40px;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-bar-button img{
    height: 30px;
}

.post-list-container{
    background-color: none;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.post-list{
    width: 80%;
    background-color: rgba(76, 175, 80, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}


.post-container{
    margin: 30px 10px;
    background-color: #ecdfcc86;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.post-title-row{
    display: flex;
    align-items: center;
    justify-content: left;
}

.post-title{
    margin: 0rem 0rem 0rem 3rem ;
    display: flex;
    min-width: 250px;
}
.post-date{
    margin: 0rem 7rem 0rem 0rem;
    display: flex;
    min-width: 250px;
}

.post-description-row{
    margin: 1rem 3rem;  
    display: flex;
}

.post-description{
    display: flex;
}

.post-image-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post-image{
    margin: none;
    width: 80%;
    display: flex;
}

.post-image img{
    width: 100%;
    border-radius: 8px;
}

.read-more-row{
    display: flex;
}

.read-more-row a{
    margin: 0rem 3rem;
}

.read-more{
    margin: 10px 3rem;
    display: flex;
}