{% extends 'rework/base_rework.html'%}

{% block content %}
 
    <div class="container mt-4 p-4 bg-light rounded shadow-sm">
        <h1>Login</h1>
         <hr>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="usernameExample" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="usernameExample" name="username" placeholder="Nombre de usuario">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese contraseña">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{%endblock content%}

