{% extends '../base.html' %}

{% block content %}
    {% load static %}
    <div class="gallery-container" >
        <div class="sorting-container">
            <form class="sorting-form" method=POST action="">
                {% csrf_token %}
                <div class="select-container">
                    <select name="sorting-select" id="">
                        <option value="none">Sort by</option>
                        <option value="date_ascending">Newest</option>
                        <option value="date_descending">Oldest</option>
                        <option value=""></option>
                    </select>
                </div>
                <button class="sorting-button" type="submit"></button>
            </form>
        </div>
    </div>
    {% block gallery_list %}
    {% endblock %}
{% endblock %}
