{% extends 'blog/post_block.html' %}

{% block post_list %}
    <div class="post-list-container">
        {% if searched %}
            <h1>wow I searched for {{searched}}</h1>
            <div class="post-list">
                {% for post in posts %}
                    <div class="post-container">
                        <div class="post-title-row">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <div class="post-date">Posted at {{ post.date_added }}</div>
                        </div>
                        <div class="post-description-row">
                            <div class="post-description">{{ post.intro }}</div>
                            
                        </div>   
                        {% if post.images.all %}
                            <div class="post-image-row">
                                {% for image in post.images.all %}
                                    <figure class="post-image">
                                        <img src="{{ image.image.url }}" alt="{{ post.title }}">
                                    </figure>
                                {% endfor %}
                            </div>                     
                        {% endif %}
                        <div class="read-more-row">
                            <a class="read-more" href="{% url 'post_detail' post.slug %}">Read more</a>    
                        </div>  
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>you searched NOTHING</h1>
        {% endif %}
       
    </div>
{% endblock %}